<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fisher.andrew.stockipy">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.FridgeActivity"
            android:label="Back Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fisher.andrew.stockipy.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.RecipeActivity"
            android:label="Back Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fisher.andrew.stockipy.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.ShoppingListActivity"
            android:label="Back Home">
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fisher.andrew.stockipy.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.YourRecipesActivity"
            android:label="Back to Recipes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.RecipeActivity" />
        </activity>
        <activity
            android:name=".ui.AddToShoppingListActivity"
            android:label="Back to your Shopping List">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ShoppingListActivity" />
        </activity>
        <activity
            android:name=".ui.AddToFridgeActivity"
            android:label="Back to your Fridge">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ShoppingListActivity" />
        </activity>
        <activity android:name=".ui.RecipeDetaiActivity"
            android:label="Back to Recipes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.RecipeActivity" />


        </activity>
    </application>

</manifest>