<?xml version="1.0" encoding="utf-8"?>
<manifest package="fisher.andrew.stockipy"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
        </activity>
        <activity
            android:name=".ui.kitchen.KitchenActivity"
            android:label="Back Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fisher.andrew.stockipy.ui.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.recipes.RecipeActivity"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fisher.andrew.stockipy.ui.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.shopping.ShoppingListActivity"
            android:label="Back Home">
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fisher.andrew.stockipy.ui.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.recipes.YourRecipesActivity"
            android:label="Back to Recipes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.recipes.RecipeActivity"/>
        </activity>
        <activity
            android:name=".ui.shopping.AddToShoppingListActivity"
            android:label="Back to your Shopping List">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.shopping.ShoppingListActivity"/>
        </activity>
        <activity
            android:name=".ui.kitchen.AddToKitchenActivity"
            android:label="Back to your Fridge">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.shopping.ShoppingListActivity"/>
        </activity>
        <activity
            android:name=".ui.recipes.RecipeDetaiActivity"
            android:label="Back to Recipes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.recipes.RecipeActivity"/>
        </activity>
        <activity
            android:name=".ui.authentication.CreateAccountActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name=".ui.authentication.LoginActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>